@media screen and (max-width:520px) {
    div.parrafo {
        width: 65%;
        min-width: unset;
    }
    div.titulo {
        font-size: max(1.8vw,15px);
    }
    div.subtitulo {
        right: 12vw;
        font-size: max(1.5vw,11px);

    }
    #email {
        width: 100%;
    }
    #buttons {
        flex-direction: column;
        row-gap: 5vw;
    }
    .second-section-div {
        flex-direction: column;
        height: max-content;
        row-gap: 10vw;
    }
    .second-section-left-div {
        width: 100%;
        height: 50vh;
    }
    .second-section-left-div div {
        width: 45%;
        min-width: 336px;
    }
    .second-section-right-div {
        width: 100%;
        height: 50vh;
        background: var(--marine-green);
    }

    .second-section-2 {
        flex-direction: column;
        align-items: center;
        row-gap: 5vw;
        padding: 15vw 5vw;
        
    }
    
    .sec-02-div {
        flex-direction: row;
    }
    .sec-02-div p {
        font-size: 20px;
    }
    .third-section-div {
        flex-direction: column;
        height: fit-content;
    }
    .third-section-left-div {
        width: 100%;
    }
    .third-section-right-div {
        width: 100%;
        height: max-content;
    }
    .my-description p {
        font-size: 18px;
    }    
    div.my-description {
        margin-bottom: 10vw;
    }

}
